@if (document.hasValue()) {
  <app-toolbar
    [document]="document.value()"
    [scaleFactor]="scaleFactor()"
    (save)="save()"
    (scale)="scale($event)"
  />
}

<div class="wrapper">
  <main class="pages-container" [style.width.%]="scaleStyleWidth()">
    @if (document.isLoading()) {
      <mat-spinner />
    } @else {
      @for (page of document.value()?.pages; track page.number) {
        <div class="page-wrapper">
          <img
            class="mat-shadow-2 page"
            [src]="page.imageUrl"
            alt=""
            loading="lazy"
            (click)="addAnnotation($event, page)"
            (mousemove)="onMouseOver($event)"
            (mouseleave)="onMouseUp($event)"
            draggable="false"
          />

          @for (annotation of page.annotations; track annotation.id) {
            <app-annotation
              #annotationEl
              [annotation]="annotation"
              [id]="annotation.id"
              (delete)="deleteAnnotation(page, annotation)"
              (mousedown)="onMouseDown($event, annotationEl)"
            />
          }
        </div>
      }
    }
  </main>
</div>
