@if (document.hasValue()) {
  <app-toolbar
    [document]="document.value()"
    [scaleFactor]="scaleFactor()"
    (save)="save()"
    (scale)="scale($event)"
  />
}

<div class="wrapper">
  <main class="pages-container" [style.width.%]="scaleStyleWidth()">
    @if (document.isLoading()) {
      <mat-spinner />
    } @else {
      @for (page of document.value()?.pages; track page.number) {
        <img
          class="mat-shadow-2 page"
          [src]="page.imageUrl"
          alt=""
          loading="lazy"
          (click)="addAnnotation($event)"
        />
      }
    }
  </main>
</div>
