:host {
  display: block;
}

.wrapper {
  height: calc(100dvh - var(--mat-toolbar-standard-height, 64px) - 2 * 24px);
  overflow: auto;
  margin: 24px auto;
  width: 100%;
  max-width: 1000px;
}

.pages-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.page-wrapper {
  position: relative;
}

.page {
  width: 100%;
  user-select: none;
}
